json/pipeline/forecast-solar-loaddata.json
{
	"name": "forecast-solar-loaddata",
	"properties": {
		"activities": [
			{
				"name": "forecastsolar dataflow",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "azfunc_output",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "forecastsolar dataflow",
						"type": "DataFlowReference",
						"parameters": {
							"azFuncOutput": {
								"value": "@variables('objPropsToArr_output')",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "ObjectPropsToArray",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "WebForecastSolar",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "ObjectPropsToArray?jpath=result.watts,result.watt_hours,result.watt_hours_day&keyToProp=datetime&valToProp=watt",
					"method": "POST",
					"body": {
						"value": "@activity('WebForecastSolar').output",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzFuncJsonStructObjToArray",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "WebForecastSolar",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.forecast.solar/estimate/54.911280/9.764450/22/0/6.7?no_sun=1",
					"method": "GET",
					"datasets": [
						{
							"referenceName": "RestResourceForecastSolar",
							"type": "DatasetReference"
						}
					]
				}
			},
			{
				"name": "azfunc_output",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ObjectPropsToArray",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "objPropsToArr_output",
					"value": {
						"value": "@string(activity('ObjectPropsToArray').output)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"objPropsToArr_output": {
				"type": "String"
			}
		},
		"annotations": []
	}
}