json/pipeline/generateChargePlan.json
{
	"name": "generateChargePlan",
	"properties": {
		"activities": [
			{
				"name": "Lookup chargeplan jsonfile",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "get chargeplan dataflow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "getChargePlan",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Web ChargePlanning",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Lookup chargeplan jsonfile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://chargeplanning.azurewebsites.net/api/generatePlan",
					"method": "POST",
					"body": {
						"value": "@activity('Lookup chargeplan jsonfile').output.value[0].chargeplan",
						"type": "Expression"
					}
				}
			},
			{
				"name": "get chargeplan dataflow",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "get chargeplan dataflow",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Set var chargePlanJson",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web ChargePlanning",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "generatedPlanJsonStr",
					"value": {
						"value": "@activity('Web ChargePlanning').output.Response",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set var chargePlanJson",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": {
								"value": "@variables('generatedPlanJsonStr')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "getChargePlan",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "getChargePlan",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"generatedPlanJsonStr": {
				"type": "String"
			}
		},
		"annotations": []
	}
}