json/pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "ObjectPropsToArray",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "WebForecastSolar",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "ObjectPropsToArray?jpath=result.watts,result.watt_hours,result.watt_hours_day&keyToProp=datetime&valToProp=watt",
					"method": "POST",
					"body": {
						"value": "@activity('WebForecastSolar').output",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzFuncJsonStructObjToArray",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "WebForecastSolar",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.forecast.solar/estimate/54.911280/9.764450/22/0/6.7?no_sun=1",
					"method": "GET",
					"datasets": [
						{
							"referenceName": "RestResourceForecastSolar",
							"type": "DatasetReference"
						}
					]
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ObjectPropsToArray",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "JsonText",
								"value": {
									"value": "@string(activity('ObjectPropsToArray').output)",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": "SELECT ''",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"value": "@activity('ObjectPropsToArray').output",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "TestTbl2",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ForecastSolarTxt",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"objPropsToArr_output": {
				"type": "String"
			}
		},
		"annotations": []
	}
}